<!DOCTYPE html>
<html lang="es-ES">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js - Pacientes</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <%- include("../partials/patient_header.ejs") %>
    <div class="container mt-3">
      <div class="text-center text-white">
        <h2>Actualización de Pacientes</h2>
      </div>
      <form action="./editPatient" method="POST">
        <input type="hidden" name="id" value="<%= paciente.id %>">
        <div class="row mb-2">
          <div class="col-12">
            <label for="name" class="form-label text-white">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" value="<%= paciente.name %>" required
              autocomplete="off">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <label for="email" class="form-label text-white">Email</label>
            <input type="text" name="email" id="email" class="form-control" value="<%= paciente.email %>">
          </div>
          <div class="col-6">
            <label for="telefono" class="form-label text-white">Teléfono</label>
            <input type="text" name="telefono" id="telefono" class="form-control" value="<%= paciente.telefono %>">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <label for="provincia" class="form-label text-white">Ciudad</label>
            <input type="text" name="ciudad" id="ciudad" class="form-control" value=<%=paciente.ciudad %>>
          </div>
          <div class="col-6">
            <label for="provincia" class="form-label text-white">Provincia</label>
            <select name="provincia" id="provincia" class="form-select">
              <option value="" disabled>Seleccione su Provincia</option>
              <% ["Mendoza", "San Luis" , "La Rioja" , "Tucumán" , "Tierra del Fuego" , "Chubut" , "La Pampa"
                , "Catamarca" , "Salta" , "Misiones" , "Rio Negro" , "Cordoba" , "Santa Fe" , "Entre Rios" , "Formosa"
                , "Buenos Aires" , "Neuquén" , "San Juan" , "Santiago del Estero" , "Jujuy" , "Chaco" , "Corrientes"
                , "Santa Cruz" ].forEach(function(prov) { %>
                <option value="<%= prov %>" <%=paciente.provincia===prov ? "selected" : "" %>>
                  <%= prov %>
                </option>
                <% }) %>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <label for="dni" class="form-label text-white">DNI</label>
            <input type="text" name="dni" id="dni" class="form-control" value="<%= paciente.dni %>">
          </div>
          <div class="col-6">
            <label for="direccion" class="form-label text-white">Dirección</label>
            <input type="text" name="direccion" id="direccion" class="form-control" value="<%= paciente.direccion %>">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <label for="id_category" class="form-label text-white">Categoría</label>
            <select name="id_category" id="id_category" class="form-select">
              <option disabled>Seleccione una Categoría</option>
              <% category.forEach(function(categoria) { %>
                <option value="<%= categoria.id %>" <%=paciente.id_category===categoria.id ? "selected" : "" %>>
                  <%= categoria.nombre %>
                </option>
                <% }) %>
            </select>
          </div>
        </div>
        <br>
        <div class="row mb-5">
          <div class="col-6">
            <div class="float-start">
              <a href="./patient" class="btn secondary-btn">Volver a Inicio</a>
            </div>
          </div>
          <div class="col-6">
            <div class="float-end">
              <button type="submit" class="btn primary-btn">Actualizar Datos</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>